/* Estilo geral para o site */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fundo mais claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header .logo img {
    width: 100px;
    height: auto;
}

h1 {
    font-size: 24px;
    color: #333;
}

/* Formulário de Cadastro */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #e60000; /* Vermelho claro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #cc0000; /* Tom mais forte de vermelho */
}

/* Links de navegação */
.links {
    margin-top: 20px;
}

.links a {
    color: #e60000; /* Cor vermelha para os links */
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #777;
}
